
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background-color: #000;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.container .text-title{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .text-title h1{
    font-size: 45px;
    color: white;
}

.card{
    position: relative;
    width: 450px;
    height: 350px;
    margin-top: 100px;
    align-items: center;
    transition: 0.5s;
    flex-basis: 30%;
    cursor: pointer;
}

.card .circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.card .circle::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d83134;
    clip-path: circle(150px at center);
    transition: 0.5s;
}

.card:hover .circle::before{
    background-color: #000;
    clip-path: circle(200px at center);
}

.card img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 300px;
    transition: 0.5s;
}

.card:hover img{
    left: 72%;
    height: 350px;
}

.card .content {
    position: relative;
    width: 50%;
    top: 15%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.card:hover .content {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.card .content h2 {
    color: white;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 10px;
}

.card .content p {
    color: white;
}

.card .content a {
    display: inline-block;
}

.card .content img {
    position: relative;
    width: 30%;
    height: 30%;
    margin-bottom: -55px;
    margin-left: -70px;
}

.container:hover .card{
    filter: blur(5px);
}

.container:hover .card:hover {
    filter: blur(0px);
}

/* Responsive */

@media (max-width:1100px){
    body{
        overflow: visible;
    }
    .container{
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container .text-title h1 {
        margin-top: 80px;
    }
    .card{
        width: auto;
        margin-top: -12px;
        max-width: 350px;
        align-items: flex-start;
    }
    .card:hover img, .content {
        height: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .card .content{
        width: 100%;
        left: 0;
        padding: 30px;
    }
    .card .content a img {
        display: inline-block;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .card:hover img{
        top: 80%;
        left: 60%;
        height: 320px;
    }

}

@media (max-width:670px){
    .container .text-tittle h1{
        font-size: 30px;
    }
}
    


